/* Set box-sizing property to border-box for all elements */
* {
    box-sizing: border-box;
    overflow: hidden;
}

/* Body styles */
body {
    margin: 0;
    color: #696969;
    background-color: #f0f0f0;
    font-family: system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        "Liberation Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* Center the message container */
.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Arabic message */
.ar-message {
    direction: rtl;
    font-size: xx-large;
    margin: 20px 0;
    text-align: center;
}

/* English message */
.en-message {
    font-size: xx-large;
    margin: 20px 0;
    text-align: center;
}

.ar-message p,
.en-message p {
    font-size: large;
}

.name {
    font-size: xx-large;
    margin: 20px 0;
    text-align: center;
    color: #e91e63;
}

/* Fireworks container */
#fireworks-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Firework styles */
.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation-name: firework;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

/* Spark styles */
.spark {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation-name: spark;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 2;
}

/* Keyframe animations */
@keyframes firework {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(4);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spark {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Additional colors */
.firework:nth-child(1) {
    background-color: #f9d71c;
}

.firework:nth-child(2) {
    background-color: #bbd22a;
}

.firework:nth-child(3) {
    background-color: #00a1e4;
}

.firework:nth-child(4) {
    background-color: #9b26af;
}

.firework:nth-child(5) {
    background-color: #f44336;
}

.firework:nth-child(6) {
    background-color: #3f51b5;
}

.firework:nth-child(7) {
    background-color: #009688;
}

.firework:nth-child(8) {
    background-color: #ff9800;
}

.firework:nth-child(9) {
    background-color: #8bc34a;
}

.firework:nth-child(10) {
    background-color: #e91e63;
}

.firework:nth-child(11) {
    background-color: #ffc107;
}

.firework:nth-child(12) {
    background-color: #795548;
}